{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

<div class="jumbotron container">
    <div class="container">
      <h1 class="display-3"><center>Fanpage by FaziGIT</center></h1>
      <h4><b><center>Best Artist</center></b></h4>
      <p><center><a class="btn btn-light btn-lg" href="http://mathis.tassart.free.fr" role="button">En savoir plus &raquo;</a></center></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 style="color:#E75959;"><b>PNL</b></h2>
        <p>PNL (sigle de Peace N’ Lovés) est un groupe de rap français composé de deux frères : Ademo et N.O.S, de leurs vrais noms Tarik et Nabil Andrieu</p>
        <p><a class="btn btn-danger" href="https://fr.wikipedia.org/wiki/PNL_(groupe)" target="_blank" role="button">PNl Wiki &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="color:#96DCEB">Indila</h2>
        <p>Adila Sedraïa dite Indila, née le 26 juin 19841,2 à Paris, est une auteure-compositrice-interprète et productrice française.</p>
        <p><a class="btn btn-primary" href="https://fr.wikipedia.org/wiki/Indila" target="_blank" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="color:#225FEB">Tiakola</h2>
        <p>Tiakola, de son vrai nom William Mundala né le 4 décembre 19991 à Bondy, est un rappeur et chanteur français, membre du groupe 4Keus2 avant que le groupe soit mis de côté pour pouvoir lancer sa propre carrière.</p>
        <p><a class="btn btn-primary" href="https://fr.wikipedia.org/wiki/Tiakola" target="_blank" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <hr> 
  </div> 
</div>

{% endblock %}
